body{
	background-color: #141c16;
}
.navbar{
	text-transform: uppercase;
	background: rgba(0,0,0,0.6);
	padding: 0;
}
.navbar-nav li{
	padding-right: .7rem;
	font-weight: 600;

}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link{
	color: white;
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link.active,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover{
	color: #1ebba3;
}

.banner{
	margin-top: 55px;
	height: 700px;
	overflow: hidden;
	
}
.imgSlide{
	height: 700px;
}
.btn-primary {
    background: #1ebba3;
    border-color:transparent !important;
    color: #fff !important;
    border-radius: 50px;
    padding: 10px 25px !important;
    width: 200px;
    text-align: center;
    margin:10px 15px;
}

.btn-primary:hover {
    background: #731397;
}
.bannerDangchieu{
	min-height: 127px;
	width: 100%;	
	background-image:url("../img/dangchieu/banner.png");
	background-color: #cccccc;
	margin-left:0;
}
.tenphim{
	color: #000000;
}
.tenphim:hover{
	text-decoration: none;

}
.phim{

}
.cardphim{
	transition: transform 1.2s;

}
.cardphim:hover{
	transform: scale(1.2);
}
.iconrap{
	width: 50%;
}
.tenrap{
	margin-left: -100px;
}
/*datve*/
.bodydatve{
	background-image: url();
}
.bannerphim{
	position: relative;
	background-size: cover;
	background-position: center center;
}

.ten{
	position: absolute;
	top: 30%;
	color: white;
	margin-left: 50px;
	width: 100%;
}
.mota{
	position: absolute;
	top: 40%;
	color: white;
	margin-left: 50px;
}
.anhphim{
	width: 15%;
	position: absolute;
	top: 20%;
	margin-left: 65%;
}
.trailer{
	position: absolute;
	top: 73%;
	margin-left: 70%;
}
.bannerphim>img{
  width: 100%;
  opacity: .1;
}
